<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechGear Hub - Shipping Interface</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-gray-50">
<script th:inline="javascript">
    /* Thymeleaf sẽ thay thế {{userId}} với giá trị thực tế từ backend */
    var currentUserId = /*[[${userId}]]*/ 'undefined';
    console.log("Current User ID: ", currentUserId); // Bạn có thể sử dụng currentUserId trong JavaScript
</script>


<header class="bg-gradient-to-r from-blue-400 to-purple-400 shadow-lg fixed w-full z-50 transition-all duration-300">
    <nav class="container mx-auto px-4 py-4">
        <div class="flex items-center justify-between">
            <div class="flex items-center space-x-8">
                <img src="https://res.cloudinary.com/dhp7ylyvh/image/upload/v1732713934/eddu13uacm4ghp4lwrvc.png" alt="TechGear Logo" class="h-16 w-auto hover:rotate-12 transition-all duration-300">
                <div class="hidden md:flex space-x-6">
                    <a href="/home" class="text-gray-800 font-semibold text-lg hover:text-blue-600 transition-all duration-300 hover:scale-110">Home</a>
                    <a href="/listProduct" class="text-gray-800 font-semibold text-lg hover:text-blue-600 transition-all duration-300 hover:scale-110">Products</a>
                    <a id = "contact-link" class="text-gray-800 font-semibold text-lg hover:text-blue-600 transition-all duration-300 hover:scale-110">Contact</a>
                </div>
            </div>

            <!-- Phần trạng thái người dùng và nút Login/Logout -->
            <div class="flex items-center space-x-4">

                <form action="/ship" method="get" id="shipping">
                    <button id="search" class="p-4 hover:bg-gray-100 rounded-full transition-all duration-300 hover:rotate-12">
                        <i class="fa-sharp fa-solid fa-truck-fast text-2xl"></i>
                    </button>
                </form>

                <form action="/cart" method="get" id="cart-form" onsubmit="return checkUserSession()">
                    <button id="cart" type="submit" class="p-4 hover:bg-gray-100 rounded-full transition-all duration-300 hover:rotate-12">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                        </svg>
                    </button>
                </form>




                <div class="p-2 hover:bg-gray-100 rounded-full transition-all duration-300 ">
                    <!--                    <div sec:authorize="isAuthenticated()">-->
                    <!--                        <form action="#" th:action="@{/logout}" method="post">-->
                    <!--                            <button type="submit" id="logout-btn" class="px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700">-->
                    <!--                                Logout-->
                    <!--                            </button>-->
                    <!--                        </form>-->
                    <!--                        <span id="user-name" class="text-white font-semibold">Hello, <span th:text="${#authentication.name}"></span></span>-->
                    <!--                    </div>-->

                    <div>
                        <form action="/login" method="get">
                            <button id="login-btn" type="submit" class="px-4 py-2 bg-transparent text-white rounded-md">
                                Login
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </nav>
</header>


<div class="flex min-h-screen pt-20">
    <aside class="w-1/6 bg-slate-50 shadow-lg p-6 space-y-4">
        <h2 class="text-xl font-bold text-gray-800 mb-6">Categories</h2>
        <div class="space-y-2">
            <button class="w-full text-left px-4 py-2 rounded-lg bg-blue-600 text-white hover:bg-blue-700 transition-all duration-300" onclick="filterProducts('all')">All Products</button>
            <button class="w-full text-left px-4 py-2 rounded-lg text-gray-700 hover:bg-blue-600 hover:text-white transition-all duration-300" onclick="filterProducts('Laptops')">Laptops</button>
            <button class="w-full text-left px-4 py-2 rounded-lg text-gray-700 hover:bg-blue-600 hover:text-white transition-all duration-300" onclick="filterProducts('Smartphones')">Smartphones</button>
            <button class="w-full text-left px-4 py-2 rounded-lg text-gray-700 hover:bg-blue-600 hover:text-white transition-all duration-300" onclick="filterProducts('Tablets')">Tablets</button>
            <button class="w-full text-left px-4 py-2 rounded-lg text-gray-700 hover:bg-blue-600 hover:text-white transition-all duration-300" onclick="filterProducts('Accessories')">Accessories</button>
            <button class="w-full text-left px-4 py-2 rounded-lg text-gray-700 hover:bg-blue-600 hover:text-white transition-all duration-300" onclick="filterProducts('Others')">Other</button>
        </div>
    </aside>

    <main class="w-5/6 p-6 ">
        <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8 p-6">
            <div th:each="product : ${products}"
                 class="bg-white rounded-xl shadow-lg overflow-hidden transition-all duration-500 transform hover:scale-105 hover:shadow-xl flex flex-col aspect-w-1 aspect-h-1"
                 th:data-category="${product.category.name}">
                <!-- Product Image -->
                <div class="relative overflow-hidden h-80">
                    <img th:src="${product.imageProduct}"
                         alt="Product Image"
                         class="w-full h-full object-cover transition-all duration-300 hover:scale-110">
                    <div class="absolute inset-0 bg-black bg-opacity-20 opacity-0 hover:opacity-100 transition-opacity duration-300 flex items-center justify-center">
                        <button th:id="'viewButton-'+ ${product.id}"
                                class="bg-white text-gray-800 py-2 px-4 rounded-full font-semibold hover:bg-gray-100 transition-colors duration-300">
                            View Details
                        </button>
                    </div>
                </div>

                <!-- Product Info -->
                <div class="p-6 flex-grow flex flex-col justify-between">
                    <div>
                        <h3 th:text="${product.name}" class="text-xl font-bold mb-2 text-gray-800"></h3>
                        <p th:text="'$' + ${product.price}" class="text-lg font-semibold text-indigo-600 mb-2"></p>
<!--                        <p th:text="${#strings.abbreviate(product.description, 100)}" class="text-sm text-gray-600 mb-4"></p>-->
                    </div>

                    <!-- Action Buttons -->
                    <div class="mt-4 flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-2">
                        <form action="#" method="post" th:action="@{/cartItems/upload}" class="w-full">
                            <input type="hidden" name="product_id" th:value="${product.id}">
                            <input type="hidden" name="quantity" value="1">
                            <button type="submit"
                                    class="w-full bg-indigo-500 text-white py-3 px-4 rounded-lg shadow-sm hover:bg-indigo-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50 transition-all duration-300 flex items-center justify-center group">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 group-hover:animate-bounce" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                                </svg>
                                <span class="font-medium">Add to Cart</span>
                            </button>
                        </form>
                    </div>
                </div>

                <div th:id="'ViewDetailModal-' + ${product.id}" class="fixed inset-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-75 transition-opacity hidden ">
                    <div class="bg-white w-3/4 h-3/4 max-w-4xl rounded-lg shadow-lg overflow-hidden relative">`
                        <div class="relative">
                            <!-- Nút đóng -->
                            <button id="closeButton" class="absolute top-4 right-4 text-gray-500 hover:text-gray-700">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                                <span class="sr-only">Đóng</span>
                            </button>

                        </div>
                        <div class="bg-white shadow-lg rounded-lg overflow-hidden p-6 max-w-2xl mx-auto">
                            <div class="space-y-6">
                                <!-- Product Name and ID -->
                                <div class="border-b pb-4">
                                    <h1 id="productName" class="text-3xl font-bold text-gray-800 mb-2"></h1>
                                    <p id="productId" class="text-sm text-gray-500"></p>
                                </div>

                                <!-- Price and Category -->
                                <div class="">
<!--                                    <div>-->
<!--                                        <h2 class="text-xl font-bold text-gray-800 mb-2">Giá tiền</h2>-->
<!--                                        <div class="flex items-baseline">-->
<!--                                            <span id="productPrice" class="text-4xl font-extrabold text-indigo-600 mr-2"></span>-->
<!--                                            <span class="text-lg text-gray-500" th:text="${product.price} + ' VND'"></span>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <p id="productCategory" class="text-sm font-medium px-3 py-1 bg-indigo-100 text-indigo-800 rounded-full"></p>
                                </div>

                                <!-- Product Details -->
                                <div class="flex flex-col gap-4 text-sm max-h-64 overflow-y-auto">
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400 mr-2" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M5 5a3 3 0 015-2.236A3 3 0 0114.83 6H16a2 2 0 110 4h-5V9a1 1 0 10-2 0v1H4a2 2 0 110-4h1.17C5.06 5.687 5 5.35 5 5zm4 1V5a1 1 0 10-1 1h1zm3 0a1 1 0 10-1-1v1h1z" clip-rule="evenodd" />
                                            <path d="M9 11H3v5a2 2 0 002 2h4v-7zM11 18h4a2 2 0 002-2v-5h-6v7z" />
                                        </svg>
                                        <span class="font-semibold mr-2">Thương hiệu:</span>
                                        <span id="productBrand" th:text="${product.brand}"></span>
                                    </div>
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400 mr-2" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M4 2a2 2 0 00-2 2v11a3 3 0 106 0V4a2 2 0 00-2-2H4zm1 14a1 1 0 100-2 1 1 0 000 2zm5-1.757l4.9-4.9a2 2 0 000-2.828L13.485 5.1a2 2 0 00-2.828 0L10 5.757v8.486zM16 18H9.071l6-6H16a2 2 0 012 2v2a2 2 0 01-2 2z" clip-rule="evenodd" />
                                        </svg>
                                        <span class="font-semibold mr-2">Màu sắc:</span>
                                        <span id="productColor" th:text="${product.color}"></span>
                                    </div>
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400 mr-2" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 2a1 1 0 011 1v1.323l3.954 1.582 1.599-.8a1 1 0 01.894 1.79l-1.233.616 1.738 5.42a1 1 0 01-.285 1.05A3.989 3.989 0 0115 15a3.989 3.989 0 01-2.667-1.019 1 1 0 01-.285-1.05l1.715-5.349L11 6.477V16h2a1 1 0 110 2H7a1 1 0 110-2h2V6.477L6.237 7.582l1.715 5.349a1 1 0 01-.285 1.05A3.989 3.989 0 015 15a3.989 3.989 0 01-2.667-1.019 1 1 0 01-.285-1.05l1.738-5.42-1.233-.617a1 1 0 01.894-1.788l1.599.799L9 4.323V3a1 1 0 011-1zm-5 8.274l-.818 2.552c.25.112.526.174.818.174.292 0 .569-.062.818-.174L5 10.274zm10 0l-.818 2.552c.25.112.526.174.818.174.292 0 .569-.062.818-.174L15 10.274z" clip-rule="evenodd" />
                                        </svg>
                                        <span class="font-semibold mr-2">Trọng lượng:</span>
                                        <span id="productWeight" th:text="${product.weight}"></span>
                                        <span class="ml-1">kg</span>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="mt-6 max-h-50 overflow-y-auto">
                                    <h6 class="text-xl font-semibold text-gray-800 mb-2">Mô tả sản phẩm</h6>
                                    <p id="productDescription" class="text-gray-600 leading-relaxed" th:text="${product.description}"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </main>

<!--    Modal View Detail-->



</div>
</body>

<script>
    function checkLoginStatus() {
        const isLoggedIn = sessionStorage.getItem('userLoggedIn');
        const userName = sessionStorage.getItem('userName');

        const loginBtn = document.getElementById('login-btn');
        const logoutBtn = document.getElementById('logout-btn');
        const userNameElement = document.getElementById('user-name');

        if (isLoggedIn === 'true') {
            loginBtn.classList.add('hidden');
            logoutBtn.classList.remove('hidden');
            userNameElement.classList.remove('hidden');
            userNameElement.querySelector('span').innerText = userName || "User";
        } else {
            loginBtn.classList.remove('hidden');
            logoutBtn.classList.add('hidden');
            userNameElement.classList.add('hidden');
        }
    }
    window.onload = checkLoginStatus;


    function filterProducts(category) {
        const allProducts = document.querySelectorAll('.bg-white'); // Lấy tất cả các sản phẩm
        allProducts.forEach(product => {
            // Kiểm tra nếu sản phẩm thuộc danh mục đang lọc
            const productCategory = product.dataset.category;

            if (category === 'all' || productCategory === category) {
                product.style.display = 'block'; // Hiển thị sản phẩm
            } else {
                product.style.display = 'none'; // Ẩn sản phẩm
            }
        });
    }

    document.getElementById('closeButton').addEventListener('click', function() {
        console.log('Modal closed');
    });


    // document.querySelectorAll('button[id^="viewButton-"]').forEach((button) => {
    //     button.addEventListener('click', () => {
    //         const productId = button.id.split('-')[1];
    //         const modal = document.getElementById(`ViewDetailModal-${productId}`);
    //         if (!modal) {
    //             console.error(`Modal not found for productId: ${productId}`);
    //             return;
    //         }
    //
    //         modal.classList.remove('hidden'); // Hiển thị modal
    //         setTimeout(() => {
    //             modal.classList.remove('opacity-0', 'scale-95'); // Bật hiệu ứng
    //         }, 10);
    //     });
    // });

    document.querySelectorAll('button[id^="viewButton-"]').forEach((button) => {
        button.addEventListener('click', () => {
            const productId = button.id.split('-')[1];
            const modal = document.getElementById(`ViewDetailModal-${productId}`);

            if (modal) {
                modal.classList.remove('hidden'); // Hiển thị modal
                setTimeout(() => {
                    modal.classList.add('opacity-100', 'scale-100'); // Hiệu ứng fade-in
                }, 10);
            }
        });
    });

    document.querySelectorAll('#closeButton').forEach((button) => {
        button.addEventListener('click', () => {
            const modal = button.closest('.fixed'); // Tìm modal liên quan
            modal.classList.remove('opacity-100', 'scale-100'); // Hiệu ứng fade-out
            setTimeout(() => {
                modal.classList.add('hidden'); // Ẩn modal sau khi hiệu ứng kết thúc
            }, 300);
        });
    });







</script>
</html>